@model SalesProductAssignment.Models.OrderProductDetails

@{
    ViewData["Title"] = "ListMaximumSoldProductSelected";
}

<h1>ListMaximumSoldProductSelected</h1>

<div>
    <h4>OrderProductDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    |
    <a asp-action="ListMaximumSoldProduct">Back to List</a>
</div>
